*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
}

/* Estilo do plugin slick */

.slick-dotted ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #d8d8d8;
    border-width: 0;
    background-color: #d8d8d8;
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background-color: #688293;
    color: #688293;
}

.slick-slide:focus {
    outline: 0;
}

/* Estilos padrões da página */

.clear{
    clear: both;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*Header do site*/

header{
    padding: 20px 2%;
}

header .logo img{
    float: left;
    width: 230px;
}

header nav.menu-desktop{
    float: right;
}

header nav.menu-desktop ul{
    padding: 8px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li{
    float: left;
    font-size: 14px;
    padding: 0 10px;
    text-transform: uppercase;
}

header nav.menu-desktop ul li a{
    color: #b4b4b4;
    text-decoration: none;
}

header nav.menu-mobile{
    float: right;
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-image: url('../imagens/menu-mobile.png');
    background-size: 100% 100%;
}

header nav.menu-mobile ul{
    display: none;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 60px;
    text-align: center;
    background-color: white;
}

header nav.menu-mobile ul li{
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

header nav.menu-mobile ul li a{
    color: #b4b4b4;
    text-decoration: none;
}

/*Sessão mosaico no topo do site*/

section.mosaico .mosaico-single{
    float: left;
    width: calc(100% / 6);
}

section.mosaico .img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

/*Sessão serviços*/

section.servicos .container{
    display: flex;
    max-width: 700px;
    align-items: center;
    text-align: center;
    position: relative;
    top: -30px;
}

section.servicos .container .box-servico{
    background-image: url('../imagens/icone_dente.png');
    background-size: 15px 15px;
    background-position: center calc(100% - 7px);
    background-repeat: no-repeat;
}

section.servicos .container .box-servico h2{
    font-size: 15px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

section.servicos .container .box-servico p{
    font-size: 12px;
    font-weight: lighter;
    color: white;
    margin-top: 8px;
}

section.servicos .container .box-servico:nth-of-type(1){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

section.servicos .container .box-servico:nth-of-type(2){
    width: 40%;
    padding: 60px 2%;
    background-color: #688293;
    background-image: none;
}

section.servicos .container .box-servico:nth-of-type(3){
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

/*Sessão perfil*/

section.perfil-container{
    padding: 40px 0;
}

section.perfil-container .container{
    max-width: 800px;
}

section.perfil-container .perfil-wrapper{
    padding-top: 60%;
    position: relative;
}

section.perfil-container .perfil-wrapper2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.perfil-container .img-perfil{
    width: 45%;
    height: 100%;
    background-image: url('../imagens/img_perfil.png');
    background-size: cover;
    background-repeat: no-repeat;
}

section.perfil-container .texto-perfil{
    width: 55%;
    padding: 0 30px;
}

section.perfil-container .texto-perfil h2{
    color: #698293;
    font-size: 18px;
}

section.perfil-container .texto-perfil p{
    color: #b4b4b4;
    font-size: 14px;
    margin-top: 8px;
    line-height: 22px;
}

/*Sessão vídeos*/

section.videos{
    padding: 40px 0;
}

section.videos .box-video{
    float: left;
    position: relative;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    border: 5px solid white;
}

section.videos .box-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Sessão tratamentos*/

section.tratamentos{
    padding-top: 70px;
    background-color: rgb(245,245,245);
}

section.tratamentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}

section.tratamentos > .container{
    padding: 50px 0;
}

section.tratamentos .tratamento-container{
    float: left;
    width: 33.3%;
}

section.tratamentos .tratamento-single{
    padding: 20px;
}

section.tratamentos .tratamento-single h2{
    font-size: 18px;
    color: #737373;
}

section.tratamentos .tratamento-single p{
    padding: 10px 0;
    font-size: 13px;
    color: #b4b4b4;
}

/*Sessão depoimentos*/

section.depoimentos{
    padding-top: 70px;
}

section.depoimentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}

section.depoimentos > .container{
    padding: 40px 0;
    max-width: 400px;
}

section.depoimentos .depoimento-single{
    text-align: center;
    padding: 0 2%;
}

section.depoimentos .depoimento-single quote{
    font-size: 15px;
    color: #b4b4b4;
}

section.depoimentos .nome-depoimento{
    padding: 19px 0;
}

section.depoimentos .nome-depoimento img{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

section.depoimentos .nome-depoimento span{
    font-size: 13px;
    color: #b4b4b4;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 5px;
}

/*Sessão redes sociais*/

section.social .instagram-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #98a5ae;
}

section.social .instagram-chamada p{
    color: white;
    font-size: 13px;
    padding: 10px 0;
    line-height: 23px;
}

section.social .mosaico-social{
    float: left;
    width: 100%;
}

section.social .mosaico-social .img-mosaico-single-social{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color:  #698293;
    border: 6px solid white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section.social .facebook-chamada{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #576975;
}

section.social .facebook-chamada p{
    color: white;
    font-size: 13px;
    padding: 10px 0;
    line-height: 23px;
}

/*Sessão contato*/

section.contato{
    padding: 60px 2%;
    background-color: rgb(245,245,245);
}

section.contato > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}

section.contato form{
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
}

section.contato .form-wrapper{
    float: left;
    margin-top: 10px;
    padding: 0 10px;
}

section.contato .w100{
    width: 100%;
}

section.contato .w50{
    width: 50%;
}

section.contato .form-wrapper span{
    color: #b4b4b4;
    font-size: 15px;
}

section.contato .form-wrapper input[type=text]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
}

section.contato .form-wrapper textarea{
    width: 100%;
    height: 120px;
    padding: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
    resize: none;
}

section.contato .form-wrapper input[type=submit]{
    width: 100px;
    height: 35px;
    border: 0;
    background-color: #688293;
    color: white;
    cursor: pointer;
    display: inline-block;
}

section.contato form div:nth-of-type(5){
    text-align: center;
}

/*Sessão rodapé*/

footer{
    padding: 40px 2%;
    background-color: #688293;
}

footer .container{
    max-width: 1000px;
}

footer .footer-block{
    float: left;
    width: 33.3%;
    text-align: center;
}

footer .footer-block h2{
    font-size: 18px;
    font-weight: normal;
    color: white;
}

footer .footer-block p{
    font-size: 14px;
    font-weight: lighter;
    color: white;
    margin-top: 8px;
}

/*Design responsivo*/

@media screen and (max-width: 1024px){
    section.social .mosaico-social .img-mosaico-single-social{
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    section.social .mosaico-social > div:nth-of-type(1n+7){
        display: none;
    }
}

@media screen and (max-width: 768px){
    header nav.menu-desktop{
        display: none;
    }

    header nav.menu-mobile{
        display: block;
    }

    section.servicos .container{
        flex-direction: column;
    }

    section.servicos .container .box-servico:nth-of-type(1){
        width: 80%;
        max-width: 450px;
    }
    
    section.servicos .container .box-servico:nth-of-type(2){
        width: 90%;
        max-width: 500px;
        padding: 40px 2%;
    }
    
    section.servicos .container .box-servico:nth-of-type(3){
        width: 80%;
        max-width: 450px;
    }

    section.perfil-container .perfil-wrapper{
        padding-top: 0;
    }

    section.perfil-container .perfil-wrapper2{
        display: inline-block;
        text-align: center;
        position: static;
        height: auto;
    }

    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
    }
    
    section.perfil-container .texto-perfil{
        width: 90%;
        display: inline-block;
        text-align: justify;
    }

    section.videos{
        text-align: center;
    }

    section.videos .box-video{
        float: none;
        display: inline-block;
        width: 70%;
        padding-top: calc(70% * 0.6);
    }

    section.social .mosaico-social .img-mosaico-single-social{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    section.social .mosaico-social > div:nth-of-type(1n+4){
        display: none;
    }

    footer{
        text-align: center;
    }
    
    footer .footer-block{
        float: none;
        width: 100%;
        margin: 30px 0;
    }
}

@media screen and (max-width: 580px){
    header .logo img{
        width: 200px;
    }
    
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 100%;
    }

    section.videos .box-video{
        width: 100%;
        padding-top: calc(100% * 0.6);
    }

    section.contato .w50{
        width: 100%;
    }
}